*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    color: $black;
}
a{
    text-decoration: none;
    color: inherit;
}
img{
    max-width: 100%;
}
.hide-desktop{
    @include bp('md'){
        display: none;
    }
}
.anouncement-info h2,
.section-title{
    color: $blueG !important;
    font-size: 17px !important;
    text-transform: uppercase !important;
    font-family: $gb !important;
    margin: 23px 0;
    @include bp('md'){
        font-size: 28px !important;
    }
}
.section-title{
    color: $black;
}
.main-btn{
    background: $orangeG;
    font-family: $gb !important;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    border: none;
    font-size: 16px;
    text-align: center;
    // width: 77%;
    // max-width: 200px;
    min-width: auto;
    padding: .3em;
    cursor: pointer;
    padding: .7em 2.4em;
    border-radius: 35px;
    @include bp('md'){
        max-width: inherit;
    }
    &.gradation{
        background: rgb(255,128,58);
        background: -moz-linear-gradient(90deg, rgba(255,128,58,1) 0%, rgba(176,35,11,1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(255,128,58,1) 0%, rgba(176,35,11,1) 100%);
        background: linear-gradient(90deg, rgba(255,128,58,1) 0%, rgba(176,35,11,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff803a",endColorstr="#b0230b",GradientType=1);
    }
    &:hover{
        color: #fff;
    }
}
.gratitud-color{
    .main-btn{
        background: $gratitud;
    }
    .orange-filter::after{
        background: $gratitud;
    }
}
.main-container{
    width: 91%;
    margin: 2em auto;
    @include bp('md'){
        overflow: inherit;
        max-height: inherit;
        padding: 0;
        display: inherit;
    }
}
.open-modal{
    cursor: pointer;
}
.slider-media{
    .slick-next, .slick-prev{
        height: 28px;
        width:  28px;
        border-bottom: 3px solid #fff;
        border-right: 3px solid #fff;
        transform: rotate(-45deg);
        top: 42%;
        right: -12%;
        &:before{
            display: none;
        }
        @include bp('md'){
            height: 56px;
            width:  56px;
        }
    }
    .slick-prev{
        transform: rotate(135deg); 
        left: -12%;
    }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
.orange-filter{
    position: relative;
    &::after{
        content: '';
        position: absolute;
        height: 97%;
        width: 100%;
        background: $orangeG;
        top: 0;
        left: 0;
        border-radius: 50%;
        opacity: .4;
        @include bp('md'){
            border-radius: 0;
            height: 100%;
        }
    }
}
.round-img{
    border-radius: 50%;
}
.modal-message{
    background: rgba(#fff, .7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 4;
    .container-modal{
        background: #fff;
        border-radius: 14px;
        padding: 1.4em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 91%;
        max-width: 530px;
        box-shadow: .5px .5px 7px rgba(#000, .3);
        @include bp('md'){
            width: 35%;
        }
        .close-modal{
            left: auto;
            right: 2%;
            top: 3%;
            background: #f1f2f5;
            height: 35px;
            width: 35px;
            border-radius: 50%;
            position: absolute;
            &::before,
            &::after{
                content: '';
                width: 2px;
                height: 21px;
                background: $black;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(-45deg);
            }
            &:after{
                transform: translate(-50%, -50%) rotate(45deg);
            }
        }
    }
}