*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    color: $black;
    background: #f1f2f5;
    &.website-layout{
        background: #fff;
    }
    &.not-scroll{
        overflow: hidden;
    }
}
a{
    text-decoration: none;
    color: inherit;
}
img{
    max-width: 100%;
}
.hide-desktop{
    @include bp('md'){
        display: none;
    }
}
.main-btn{
    background: $orangeG;
    font-family: $gb;
    color: #fff;
    text-transform: uppercase;
    border: none;
    font-size: 18px;
    text-align: center;
    width: 77%;
    max-width: 200px;
    min-width: auto;
    padding: .3em;
    cursor: pointer;
    &.gradation{
        background: rgb(255,128,58);
        background: -moz-linear-gradient(90deg, rgba(255,128,58,1) 0%, rgba(176,35,11,1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(255,128,58,1) 0%, rgba(176,35,11,1) 100%);
        background: linear-gradient(90deg, rgba(255,128,58,1) 0%, rgba(176,35,11,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff803a",endColorstr="#b0230b",GradientType=1);
    }
}
.mobile-btns{
    display: flex;
    align-items: center;
    @include bp('md'){
        display: none;
    }
}
.nav-icon{
    width: 33px;
    span{
        display: block;
        height: 2.2px;
        background: $black;
        width: 100%;
        &:not(:last-of-type){
            margin-bottom: .5em;
        }
    }
}
.participants-icon{
    width: 50px;
    height: 28px;
    background: url(../images/icons/participants-icon.png) no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 1em;
}
header{
    background: #fff;
    box-shadow: 0 5px 5px rgba(#636261, .28);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3em 2.1em .3em 1.4em;
    position: relative;
    z-index: 7;
}
.top-nav{
    &:not(.second-nav){
        display: none;
        + a{
            display: none;
        }
        @include bp('md'){
            display: block;
            + a{
                display: block;
            }
        }
    }
    a{
        margin: 0 2.1em;
        position: relative;
        &.active{
            &::before{
                content: '';
                position: absolute;
                bottom: -14px;
                left: -77%;
                width: 91px;
                height: 3px;
                background: $orangeG;
            }
        }
    }
    &.second-nav{
        position: fixed;
        bottom: 0;
        background: #fff;
        width: 100%;
        display: flex;
        z-index: 2;
        a{
            margin: .7em auto;
            &.active{
                &::before{
                    bottom: inherit;
                    top: -11px;
                    width: 56px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }
}
header a,
.second-nav a{
    span{
        width: 36px;
        height: 31px;
        background: url(../images/icons/home-icon.png) no-repeat;
        background-size: cover;
        background-position: center;
        display: inline-block;
        &.home{
            background: url(../images/icons/home-icon.png) no-repeat;
            background-size: cover;
            background-position: center;
        }
        &.cameras{
            background: url(../images/icons/cameras-icon.png) no-repeat;
            background-size: cover;
            background-position: center;
        }
        &.meeting{
            background: url(../images/icons/meeting-icon.png) no-repeat;
            background-size: cover;
            background-position: center;
        }
        &.messages{
            background: url(../images/icons/messages-icon.png) no-repeat;
            background-size: cover;
            background-position: center;
            &.new{
                background: url(../images/icons/messages-icon-new.png) no-repeat;
                background-size: cover;
                background-position: center; 
            }
        }
        &.pictures{
            background: url(../images/icons/pictures-icon.png) no-repeat;
            background-size: cover;
            background-position: center;
            &.new{
                background: url(../images/icons/pictures-icon-new.png) no-repeat;
                background-size: cover;
                background-position: center;
            }
        }
        &.profile{
            background: url(../images/icons/user-icon.png) no-repeat;
            background-size: cover;
            background-position: center;
        }
        &.store{
            background: url(../images/icons/store-icon.png) no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
    &:hover,
    &.active{
        span{
            background: url(../images/icons/homeactive-icon.png) no-repeat;
            background-size: cover;
            background-position: center;
            &.home{
                background: url(../images/icons/homeactive-icon.png) no-repeat;
                background-size: cover;
                background-position: center;
            }
            &.cameras{
                background: url(../images/icons/camerasactive-icon.png) no-repeat;
                background-size: cover;
                background-position: center;
            }
            &.meeting{
                background: url(../images/icons/meetingactive-icon.png) no-repeat;
                background-size: cover;
                background-position: center;
            }
            &.messages{
                background: url(../images/icons/messagesactive-icon.png) no-repeat;
                background-size: cover;
                background-position: center;
            }
            &.pictures{
                background: url(../images/icons/picturesactive-icon.png) no-repeat;
                background-size: cover;
                background-position: center;
            }
            &.profile{
                background: url(../images/icons/useractive-icon.png) no-repeat;
                background-size: cover;
                background-position: center;
            }
            &.store{
                background: url(../images/icons/storeactive-icon.png) no-repeat;
                background-size: cover;
                background-position: center;
            }
        }
    }
}
.sidebar{
    left: -100%;
    overflow-y: auto;
    font-family: $gbk;
    padding: 1.4em 1.4em 1em;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(255,128,58);
    background: -moz-linear-gradient(90deg, rgba(255,128,58,1) 0%, rgba(176,35,11,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,128,58,1) 0%, rgba(176,35,11,1) 100%);
    background: linear-gradient(90deg, rgba(255,128,58,1) 0%, rgba(176,35,11,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff803a",endColorstr="#b0230b",GradientType=1);
    z-index: 2;
    transition: left .5s;
    &.show-side{
        left: 0;
    }
    @media (max-width: 300px){
        padding: 1.4em .7em 1em;
    }
    a{  
        color: #fff;
        display: block;
        font-size: 19px;
        border-bottom: 1px solid #fff;
        @media (max-width: 300px){
            font-size: 15px;
        }
        @include bp('md'){
            &.hidden{
                display: none;
            }
            &.show-hidden{
                display: block;
            }
        }
        span{
            margin-right: .7em;
            margin-left: 0.3em;
        }
        span{
            width: 36px;
            height: 31px;
            background: url(../images/icons/home-icon.png) no-repeat;
            background-size: cover;
            background-position: center;
            display: inline-block;
            &.cameras{
                background: url(../images/icons/cameras-icon-white.png) no-repeat;
                background-size: cover;
                background-position: center;
            }
            &.meeting{
                background: url(../images/icons/meeting-icon-white.png) no-repeat;
                background-size: cover;
                background-position: center;
            }
            &.messages{
                background: url(../images/icons/messages-icon-white.png) no-repeat;
                background-size: cover;
                background-position: center;
            }
            &.pictures{
                background: url(../images/icons/pictures-icon-white.png) no-repeat;
                background-size: cover;
                background-position: center;
            }
            &.profile{
                background: url(../images/icons/user-icon-white.png) no-repeat;
                background-size: cover;
                background-position: center;
            }
            &.store{
                background: url(../images/icons/store-icon-white.png) no-repeat;
                background-size: cover;
                background-position: center;
            }
            @include bp('md'){
                &.cameras{
                    background: url(../images/icons/cameras-icon.png) no-repeat;
                    background-size: cover;
                    background-position: center;
                }
                &.meeting{
                    background: url(../images/icons/meeting-icon.png) no-repeat;
                    background-size: cover;
                    background-position: center;
                }
                &.messages{
                    background: url(../images/icons/messages-icon.png) no-repeat;
                    background-size: cover;
                    background-position: center;
                }
                &.pictures{
                    background: url(../images/icons/pictures-icon.png) no-repeat;
                    background-size: cover;
                    background-position: center;
                }
                &.profile{
                    background: url(../images/icons/user-icon.png) no-repeat;
                    background-size: cover;
                    background-position: center;
                }
                &.store{
                    background: url(../images/icons/store-icon.png) no-repeat;
                    background-size: cover;
                    background-position: center;
                }
            }
        }
        &:hover,
        &.active{
            span{
                background: url(../images/icons/home-icon.png) no-repeat;
                background-size: cover;
                background-position: center;
                &.cameras{
                    background: url(../images/icons/cameras-icon.png) no-repeat;
                    background-size: cover;
                    background-position: center;
                }
                &.meeting{
                    background: url(../images/icons/meeting-icon.png) no-repeat;
                    background-size: cover;
                    background-position: center;
                }
                &.messages{
                    background: url(../images/icons/messages-icon.png) no-repeat;
                    background-size: cover;
                    background-position: center;
                }
                &.pictures{
                    background: url(../images/icons/pictures-icon.png) no-repeat;
                    background-size: cover;
                    background-position: center;
                }
                &.profile{
                    background: url(../images/icons/user-icon.png) no-repeat;
                    background-size: cover;
                    background-position: center;
                }
                &.store{
                    background: url(../images/icons/store-icon.png) no-repeat;
                    background-size: cover;
                    background-position: center;
                }
                @include bp('md'){
                    &.cameras{
                        background: url(../images/icons/camerasactive-icon.png) no-repeat;
                        background-size: cover;
                        background-position: center;
                    }
                    &.meeting{
                        background: url(../images/icons/meetingactive-icon.png) no-repeat;
                        background-size: cover;
                        background-position: center;
                    }
                    &.messages{
                        background: url(../images/icons/messagesactive-icon.png) no-repeat;
                        background-size: cover;
                        background-position: center;
                    }
                    &.pictures{
                        background: url(../images/icons/picturesactive-icon.png) no-repeat;
                        background-size: cover;
                        background-position: center;
                    }
                    &.profile{
                        background: url(../images/icons/useractive-icon.png) no-repeat;
                        background-size: cover;
                        background-position: center;
                    }
                    &.store{
                        background: url(../images/icons/storeactive-icon.png) no-repeat;
                        background-size: cover;
                        background-position: center;
                    }
                }
            }
        }
    }
    span{
        vertical-align: middle;
    }
    .main-btn{
        font-family: $gbk;
        text-transform: inherit;
        padding: .5em;
        width: 91%;
        max-width: inherit;
        border-radius: 50px;
        margin-top: .7em;
        display: none;
    }
    @include bp('md'){
        left: inherit;
        background: #fff;
        box-shadow: 5px 0 5px rgba(#636261, .28);
        width: 28%;
        max-width: 400px;
        height: calc(100vh - 66px);
        padding: 1.4em 1.4em 1em;
        display: inline-block;
        overflow-y: auto;
        position: relative;
        .main-btn{
            display: block;
        }
        a:not(.main-btn){
            color: $black;
            font-size: 16px;
        }
    }
    .top-box{
        display: none;
        @include bp('md'){
            display: block !important;
        }
        .name-deceased{
            display: flex;
            align-items: center;
            .box-img{
                width: 44px;
                height: 44px;
                border-radius: 50%;
                overflow: hidden;
                margin-right: .5em;
            }
            img{
                vertical-align: middle;
                // max-width: 44px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .name-deceased,
        .side-nav a{
            color: #fff;
            padding: .8em 0;
            @include bp('md'){
                padding: .5em 0;
                color: $black;
            }
        }
    }
    .name-deceased span,
    .bottom-box h2{
        font-family: $gb;
        font-size: 18px;
        text-transform: uppercase;
    }
    .name-deceased span{
        @media (max-width: 300px){
            font-size: 16px;
        }
    }
    .bottom-box{
        display: none;
        padding-bottom: 7em;
        @include bp('md'){
            display: block !important;
            padding-bottom: 0;
        }
        h2{
            padding-left: 3em;
            color: #fff;
            @include bp('md'){
                color: $black;
            }
        }
        .participants{
            // max-height: 300px;
            // overflow-y: auto;
            &-item{
                display: flex;
                align-items: center;
                margin-bottom: 1.4em;
                color: #fff;
                @include bp('md'){
                    &.hidden{
                        display: none;
                    }
                    &.show-hidden{
                        display: flex;
                    }
                }
                img{
                    margin-right: .7em;
                }
                .participant-info{
                    span{
                        font-size: 16px;
                    }
                }
                p{
                    margin: 0;
                }
                @include bp('md'){
                    margin-bottom: 1em;
                    font-size: 18px;
                    color: $black;
                    .participant-info span{
                        font-size: 14px;
                    }
                }
            }
        }
    }
    &-host{
        float: right;
        width: 42%;
        max-width: inherit;
        background: inherit;
        left: 0;
        position: relative;
        .show-customMsg{
            cursor: pointer;
        }
        .back-btn{
            color: $orangeG;
            font-family: $gb;
            font-size: 18px;
            text-transform: uppercase;
            position: relative;
            padding-left: 3em;
            cursor: pointer;
            &::before{
                content: '';
                position: absolute;
                width: 21px;
                height: 21px;
                border-bottom: 2px solid $orangeG;
                border-left: 2px solid $orangeG;
                transform: rotate(45deg) translateY(-50%);
                top: 50%;
                left: 14%;
            }
        }
        .top-box{
            padding-bottom: 2.4em;
            margin-bottom: 2.4em;
            border-bottom: 1px solid #939292;
        }
        .second-block{
            display: none;
            padding-top: .5em;
            .deceased-info{
                align-items: self-start;
                img{
                    margin-right: .3em;
                }
                .info-text{
                    margin-top: 0.6em;
                }
            }
            .deceased-message{
                padding-left: 3em;
            }
        }
    }
}
.add-content{
    position: fixed;
    right: 2.4%;
    bottom: 10%;
    z-index: 3;
    @include bp('md'){
        position: absolute;
        right: 1.4%;
        bottom: 2%;
    }
    &-btn{
        height: 56px;
        width: 56px;
        background: $black;
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        right: 0;
        &::before,
        &::after{
            content: '';
            width: 2px;
            height: 28px;
            background: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &:after{
            transform: translate(-50%, -50%) rotate(90deg);
        }
        // @include bp('md'){
        //     position: absolute;
        //     bottom: 0;
        //     right: 0;
        // }
    }
    h3{
        font-family: $gb;
        font-size: 18px;
        padding-bottom: .4em;
        text-transform: uppercase;
        border-bottom: 1px solid $black;
        margin: 0;
    }
    .actions-container{
        background: #fff;
        padding: 1em 1.4em;
        border-radius: 14px;
        position: relative;
        z-index: 2;
        right: 0;
        bottom: 4em;
        display: none;
        a{
            display: flex;
            align-items: center;
            font-size: 18px;
            font-family: $gbk;
            margin: .7em 0;
            color: $black;
            span{
                margin: 0 .4em;
                width: 36px;
                height: 31px;
                background: url(../images/icons/home-icon.png) no-repeat;
                background-size: cover;
                background-position: center;
                display: inline-block;
                &.messages{
                    background: url(../images/icons/messagesactive-icon.png) no-repeat;
                    background-size: cover;
                    background-position: center;
                }
                &.pictures{
                    background: url(../images/icons/picturesactive-icon.png) no-repeat;
                    background-size: cover;
                    background-position: center;
                }
            }
            p{
                margin: 0;
            }
        }
    }
    &.host{
        bottom: calc(90vh - 70px);
        h3, a{
            font-size: 16px;
        }
        .actions-container{
            bottom: -8em;
            box-shadow: 1px 1px 4px rgba(#000, .4);
        }
    }
}
.main-container{
    width: 100%;
    padding: 2.1em .7em 7em;
    @include bp('md'){
        width: 70%;
        max-width: 1200px;
        overflow-y: auto;
        max-height: 91vh;
        display: inline-block;
        padding: 3em 3.5em;
        vertical-align: top;
    }
    &.host-container{
        width: 58%;
        padding: 0;
    }
    &.store-iframe{
        height: 84vh;
        overflow-y: inherit;
    }
}
.open-modal{
    cursor: pointer;
}
.white-bg{
    background: #fff;
}
.modal-video{
    background: rgba(#000, .8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 4;
    .container-modal{
        width: 77%;
        margin: auto;
        max-width: 1080px;
        margin-top: 16vh;
        height: 77%;
        img{
            width: 100%;
        }
    }
    &-meeting{
        display: none;
        background: url('../images/bg/meeting-bg.jpg') no-repeat;
        background-size: cover;
        background-position: center;
        @include bp('md'){
            display: block;
        }
    }
}
.modal-slider{
    background: rgba(#000, .8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 4;
    .container-modal{
        width: 77%;
        margin: auto;
        max-width: 550px;
        margin-top: 16vh;
        height: 77%;
        img{
            width: auto;
            height: auto;
            max-height: 70vh;
            margin: auto;
        }
        @include bp('md'){
            width: 42%;  
        }
        .slider-content{
            width: 100%;
        }
    }
    .slick-next, .slick-prev{
        height: 28px;
        width:  28px;
        border-bottom: 3px solid #fff;
        border-right: 3px solid #fff;
        transform: rotate(-45deg);
        top: 42%;
        right: -12%;
        &:before{
            display: none;
        }
        @include bp('md'){
            height: 56px;
            width:  56px;
        }
    }
    .slick-prev{
        transform: rotate(135deg); 
        left: -12%;
    }
}
.close-modal{
    height: 52px;
    width: 52px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 1.4%;
    &::before,
    &::after{
        content: '';
        width: 2px;
        height: 28px;
        background: $black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    &:after{
        transform: translate(-50%, -50%) rotate(45deg);
    }
}
.modal-close{
    display: none;
    background: #fff;
    border-radius: 14px;
    padding: 1.4em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    font-family: $gbk;
    font-size: 18px;
    text-align: center;
    p{
        width: 70%;
        margin: 1em auto 1.4em;
        line-height: 1.3;
    }
    .main-btn{
        font-family: $gbk;
        font-size: 14px;
        text-transform: inherit;
        padding: .7em 0;
        width: 200px;
        display: inline-block;
        border-radius: 50px;
        margin: 0 .3em;
        &:last-of-type{
            background: #a9a191;
        }
    }
}
.modal-addContent{
    background: rgba(#fff, .7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 4;
    .container-modal{
        background: #fff;
        border-radius: 14px;
        padding: 1.4em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 91%;
        max-width: 530px;
        box-shadow: 2px 2px 7px rgba(#000, .5);
        @include bp('md'){
            width: 35%;
        }
        .modal-title{
            font-family: $gb;
            font-size: 18px;
            text-align: center;
            text-transform: uppercase;
            width: 82%;
            margin: 0 auto;
            padding-bottom: .7em;
            border-bottom: 1px solid $black;
        }
        .close-modal{
            left: auto;
            right: 2%;
            top: 2%;
            background: #f1f2f5;
        }
        .info-user{
            width: 82%;
            margin: 0 auto;
            padding-bottom: .7em;
            border-bottom: 1px solid $black;
            font-family: $gbk;
            p{
                margin-bottom: 0;
                font-size: 18px;
            }
            span{
                font-size: 14px;
            }
        }
        form{
            width: 82%;
            margin: 0 auto;
            margin-top: 1em;
            text-align: left;
            textarea{
                width: 100%;
                margin-top: 1.4em;
            }
            .main-btn{
                width: 100%;
                max-width: inherit;
                border-radius: 50px;
                text-transform: inherit;
                font-family: $gbk;
                font-size: 16px;
                padding: .7em;
            }
            // &.form-image{
            //     margin-top: 1em;
            //     text-align: left;
            // }
        }
    }
}
.new-message{
    background: #f1f2f5;
    position: fixed;
    display: inline-block;
    padding: 1.4em 2.1em;
    border: 1px solid #fff;
    border-radius: 14px;
    min-width: 320px;
    top: 84vh;
    box-shadow: 2px 2px 6px rgba($black, .5);
    h4{
        font-weight: normal;
        font-size: 18px;
        margin: 0;
    }
    p{
        font-size: 14px;
        margin: .2em 0;
    }
    .close-message{
        position: absolute;
        right: 5%;
        top: 5%;
        font-family: $gbk;
        font-size: 18px;
        cursor: pointer;
    }
}
.introjs-skipbutton:not(.introjs-donebutton),
.introjs-nextbutton.introjs-disabled,
.introjs-prevbutton,
.introjs-arrow{
    display: none !important;
}
.introjs-overlay{
    background: rgb(255,128,58);
    background: -moz-linear-gradient(90deg, rgba(255,128,58,.8) 0%, rgba(176,35,11,.8) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,128,58,.8) 0%, rgba(176,35,11,.8) 100%);
    background: linear-gradient(90deg, rgba(255,128,58,.8) 0%, rgba(176,35,11,.8) 100%);
}
.introjs-button{
    margin-right: 12%;
    font-size: 14px;
    letter-spacing: .7px;
    text-shadow: none;
    padding: 0.7em 2.8em;
    border-radius: 14px;
    width: auto;
    @extend .main-btn;
    background: rgb(255,128,58);
    background: -moz-linear-gradient(90deg, rgba(255,128,58,1) 0%, rgba(176,35,11,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,128,58,1) 0%, rgba(176,35,11,1) 100%);
    background: linear-gradient(90deg, rgba(255,128,58,1) 0%, rgba(176,35,11,1) 100%);
    &:focus{
        background: rgb(255,128,58);
        background: -moz-linear-gradient(90deg, rgba(255,128,58,1) 0%, rgba(176,35,11,1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(255,128,58,1) 0%, rgba(176,35,11,1) 100%);
        background: linear-gradient(90deg, rgba(255,128,58,1) 0%, rgba(176,35,11,1) 100%);
    }
    &:hover{
        border-color: transparent;
        text-decoration: none;
        box-shadow: none;
    }
}
.introjs-tooltip{
    background: none;
    box-shadow: none;
    color: white;
    font-family: $m;
    font-size: 18px;
    width: 270px;
    max-width: inherit;
    text-align: center;
    line-height: 1.3;
    @include bp('md'){
        font-size: 24px;
        width: 400px;
    }
}
.introjs-helperLayer{
    background: transparent;
    box-shadow: none;
    border: 2px solid #fff;
}
.modal-status{
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 24px;
    padding: 2.8em 1.4em;
    text-align: center;
    background: rgb(255,128,58);
    background: -moz-linear-gradient(90deg, rgba(255,128,58,.8) 0%, rgba(176,35,11,.8) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,128,58,.8) 0%, rgba(176,35,11,.8) 100%);
    background: linear-gradient(90deg, rgba(255,128,58,.8) 0%, rgba(176,35,11,.8) 100%);
    font-family: $m;
    border-radius: 21px;
    line-height: 1.4;
    max-width: 600px;
    @include bp('md'){
        font-size: 28px;
        padding: 5.6em 1.4em;
    }
    span{
        font-family: $gb;
        text-transform: uppercase;
    }
    &-close{
        position: absolute;
        top: 7%;
        right: 2%;
        span{
            display: block;
            width: 48px;
            height: 3px;
            border-radius: 2px;
            background: white;
            transform: rotate(45deg);
            &:last-of-type{
                transform: rotate(-45deg);
                margin-top: -3px;
            }
        }
    }
}