// @import "../common/variables";
// @import "../common/mixins";//mixins

$gbold:'Gotham Bold';
$gbook:'Gotham Book';
$ms: 'Museo Slab';


@mixin fontface($nameFont, $path, $weight){
	@font-face {
	    font-family: "#{$nameFont}";
	    src:    url('../fonts/'+ $path + '/' + $path + '.eot?#iefix') format('embedded-opentype'), 
	            //url('../fonts/'+ $path + '.otf') format('opentype'), 
	            url('../fonts/'+ $path + '/' + $path + '.woff') format('woff'), 
	            url('../fonts/'+ $path + '/' + $path + '.woff2') format('woff2'), 
	            url('../fonts/'+ $path + '/' + $path + '.ttf') format('truetype');
	    font-weight: $weight;
	    font-style: normal;
	}
}
@include fontface ($gbold, Gotham-Bold, bold);
@include fontface ($gbook, Gotham-Book, 500);
@include fontface ($ms, MuseoSlab-300, normal);
// @include fontface ($tllight, Telefonica-Light, 300);
// @include fontface ($tlbold, Telefonica-Bold, bold);