.cameras-container{
    text-align: center;
    width: 91%;
    margin: auto;
    .camera-item{
        background: #fff;
        display: inline-block;
        border-radius: 21px;
        margin-bottom: 3em;
        max-width: 534px;
        .camera-container{
            position: relative;
            &:before{
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 90px;
                height: 90px;
                background: url('../images/icons/play-icon.png') no-repeat;
                background-size: cover;
                background-position: center;
                cursor: pointer;
            }
        }
        h3{
            font-family: $gb;
            font-size: 18px;
            text-transform: uppercase;
            text-align: left;
            padding-left: 2em;
        }
        p{
            font-family: $gbk;
            font-size: 18px;
            text-align: left;
            padding-left: 1.4em;
        }
    }
}