.cards-container{
    max-width: 900px;
    margin: auto;
}
.anouncement-card{
    margin-bottom: 2em;
    @include bp('md'){
        display: flex;
        border: 1px solid $blueG;
        align-items: stretch;
        margin-bottom: 3em;
        height: 276px;
    }
    &-img{
        text-align: center;
        width: 35%;
        max-width: 120px;
        min-height: 117px;
        margin: auto;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        img{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: auto;
            height: 100%;
            max-width: initial;
        }
        &::after{
            height: 100%;
        }
        @include bp('md'){
            width: 276px;
            display: inline-block;
            margin: 0 1em 0 0;
            overflow: hidden;
            min-width: 276px;
            border-radius: initial;
            max-width: initial;
            &::after{
                border-radius: 0;
                height: 100%;
            }
            img{
                // height: 100%;
                // max-width: inherit;
                border-radius: 0;
                // display: inherit;
            }
        } 
    }
    .anouncement-info{
        padding: 1.4em .7em;
        border: 1px solid $blueG;
        margin-top: 1em;
        @include bp('md'){
            border: 0;
            width: 63%;
        }
        h2{
            margin: 0 0 .5em;
        }
        .info-text{
            font-family: $m;
            color: $blueG;
            font-size: 14px;
            @include bp('md'){
                font-size: 18px;
            }
            p{
                margin: 0 0 4px;
                line-height: normal;
            }
        }
    }
    .actions{
        margin: .7em 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include bp('md'){
            margin: 1.4em 0 0;
            // justify-content: flex-start;
        }
        a,
        input[type='submit']{
            font-size: 14px;
            font-family: $gb !important;
            text-transform: inherit;
            width: auto;
            &.main-btn{
                padding: .7em 1.4em;
                border-radius: 35px;
                &:hover{
                    color: #fff;
                }
                + a{
                    color: $blueG;
                }
            }
            @include bp('md'){
                font-size: 18px;
                &.main-btn{
                    padding: .7em 2.4em;
                    font-size: 16px;
                    max-width: inherit;
                }
            }
        }
        input[type='submit']{
            border: none;
            background: none;
            color: $blueG;
            outline: none;
            @include bp('md'){
                margin-right: 7vw;
            }
        }
    }
}