.deceased-info,
.deceased-message{
    h2{
        font-family: $gb;
        font-size: 21px;
        text-transform: uppercase;
    }
    p{
        font-family: $m;
        font-size: 16px;
        line-height: 1.3;
        @include bp('md'){
            font-size: 18px;
        }
    }
}

.deceased-info{
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
    align-items: center;
    @include bp('md'){
        flex-direction: row;
    }
    .box-img{
        width: 170px;
        border-radius: 50%;
        margin-bottom: 1em;
        height: 170px;
        position: relative;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        @include bp('md'){
            width: 260px;
            height: 258px;
            margin-right: 2em;
        }
    }
    // img{
    //     max-width: 42%;
    //     border-radius: 50%;
    //     margin-bottom: 1em;
    //     @include bp('md'){
    //         // max-width: inherit;
    //         max-width: 275px;
    //         margin-right: 2em;
    //     }
    // }
    p{
       margin: 0 0 .3em; 
    }
    .info-text{
        max-width: 465px;
        h2{
            text-align: center;
            margin-top: 0;
            @include bp('md'){
                text-align: left;
            }
        }
    }
}