form{
    text-align: center;
    input{
        font-family: $m;
        background: none;
        border: none;
        border-bottom: 2px solid $black;
        font-size: 18px;
        text-align: center;
        padding: .2em;
        margin: .5em auto;
        display: block;
        color: $black;
        outline: none;
        @include bp('md'){
            font-size: 20px;
            min-width: 350px;
        }
    }
    textarea{
        font-family: $gbk;
        background: none;
        border: none;
        font-size: 18px;
        resize: none;
        outline: none;
    }
    label{
        font-family: $m;
        font-size: 14px;
    }
    + div{
        font-family: $m;
        font-size: 16px;
        margin-top: 1em;
        a{
            font-weight: bold;
            color: #4943e0;
            text-decoration: none;
        }
    }
    .checkbox-group{
        display: flex;
        justify-content: center;
        align-items: center;
        input{
            margin: inherit;
            min-width: auto;
            margin-right: .5em;
            -ms-transform: scale(1.4); /* IE */
            -moz-transform: scale(1.4); /* FF */
            -webkit-transform: scale(1.4); /* Safari and Chrome */
            -o-transform: scale(1.4); /* Opera */
            transform: scale(1.4);
        }
    }
    .errors-form{
        display: flex;
        flex-direction: column;
        color: #ff4242;
        font-family: $m;
        font-size: 14px;
    }
    .custom-radio{
        display: inline-block;
        label{
            font-family: $m;
            border: 1px solid $orangeG;
            padding: .3em 1.4em;
            border-radius: 50px;
            margin-right: .5em;
            cursor: pointer;
            position: relative;
        }
        input{
            position: absolute;
            opacity: 0;
            &:checked + label{
                background: $orangeG;
                color: #fff;
            }
        }
    }
    .custom-file{
        position: relative;
        margin: 1em 0;
        min-height: 105px;
        input{
            position: absolute;
            left: 0;
            top: 0;
            margin: 0;
            opacity: 0;
            height: 100%;
        }
        label{
            font-family: $gbk;
            font-size: 18px;
            cursor: pointer;
            span{
                color: #4943e0;
            }
        }
    }
}