.search-filters{
    form{
        margin: auto;
        max-width: 900px;
        position: relative;
        @include bp('md'){
            width: 84%;
        }
        input{
            border: 1px solid $blueG;
            border-radius: 35px;
            font-family: $m;
            background: none;
            font-size: 15px;
            padding: .5em .5em .5em 8.3em;
            margin: .5em auto;
            outline: 0;
            width: 100%;
            min-height: 41px;
            box-sizing: border-box;
            @include bp('md'){
                font-size: 24px;
            }
        }
        button{
            outline: none;
            &.search-icon{
                background: none;
                border: none;
                position: absolute;
                right: 0;
                width: 30px;
                top: 50%;
                transform: translateY(-50%);
                @include bp('md'){
                    width: 42px;
                    right: 2%;
                }
            }
        }
        .main-btn{
            font-family: $m;
            text-transform: inherit;
            padding: 0.97em;
            border-radius: 35px;
            font-size: 13px;
            width: auto;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            border: 1px solid $blueG;
            @include bp('md'){
                font-size: 16px;
                padding: 1em 2em;
            }
        }
    }
}