.download-content{
    font-family: $m;
    width: 92%;
    margin: auto;
    .buttons-container{
        display: flex;
        a{
            width: 35%;
            margin-right: .5em;
        }
    }
    .access{
        p{
            margin: 0 0 .4em;
            padding-left: 14%;
        }
    }
}
.video-meeting{
    background: url('../images/bg/meeting-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 91vh;
    .container-modal{
        position: relative;
        top: 18vh;
    }
}