.messages-container{
    text-align: center;
    .not-messages{
        h3{
            font-family: $gb;
            font-size: 24px;
            color: #a3a3a3;
            max-width: 500px;
            margin: auto;
            font-size: 24px;
            margin-bottom: 1em;
        }
    }
}
.message-item{
    background: #fff;
    padding: 1em 2em;
    width: 91%;
    max-width: 521px;
    margin: 0 auto 1em;
    border-radius: 21px;
    text-align: left;
    font-family: $gbk;
    font-size: 15px;
    letter-spacing: .3px;
    line-height: 1.2;
    box-shadow: 1px 2px 3px rgba($black, .3);
    h3,p{
        margin: 0 0 .1em;
    }
    h3{
        font-weight: normal;
        font-size: 18px;
    }
    .info-message{
        margin-bottom: 1em;
    }
}