.profile-container{
    background: #fff;
    padding: 1em;
    border-radius: 21px;
    box-shadow: 2px 4px 7px rgba($black, .5);
    @include bp('md'){
        padding: 2em 3em;
        max-width: 840px;
    }
    h2{
        font-family: $gb;
        font-size: 21px;
        text-transform: uppercase;
    }
    .profile-form{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-bottom: 3em;
        .form-group{
            text-align: left;
            margin-top: 1em;
            label{
                font-size: 18px;
                color: #b7b6b6;
                font-family: $gbk;
            }
            input{
                width: 100%;
                text-align: left;
                padding-left: 1em;
                font-size: 14px;
                font-family: $gbk;
                color: #262626;
                border-bottom: 1px solid $black;
                min-width: 300px;
            }
        }
        @include bp('md'){
            flex-direction: row;
            .form-group{
                margin: 1em 5% 0 0;
            }
        }
    }
    .table{
        thead{
            font-size: 16px;
            color: #b7b6b6;
            font-family: $gbk;
            th{
                font-weight: normal;
            }
            @include bp('md'){
                font-size: 18px;
                th{
                    padding: .7em;
                }
            }
        }
        tbody{
            font-size: 14px;
            font-family: $gbk;
            th{
                font-weight: normal;
            }
            td{
                text-align: center;
                @include bp('md'){
                    padding: .7em;
                }
            }
        }
    }
}