.storeItem{
    position: relative;
    display: flex;
    align-items:  flex-end;
    justify-content: space-between;
    padding: .7em;
    overflow: hidden;
    margin: 0 auto 1em;
    max-width: 425px;
    @media (max-width: 300px){
        padding: .4em;
    }
    @include bp('lg'){
        padding: 1.2em 1em;
        max-width: 800px;
        margin: 0 0 1em;
    }
    img{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        max-width: inherit;
        @include bp('lg'){
            height: auto;
            width: 100%;
        }
    }
    &-title{
        font-family: $gb;
        font-size: 18px;
        color: #fff;
        position: relative;
        text-transform: uppercase;
        @media (max-width: 300px){
            font-size: 14px;
        }
        @include bp('lg'){
            font-size: 28px;
        }
    }
    .main-btn{
        position: relative;
        border-radius: 35px;
        cursor: pointer;
        padding: .7em 1.4em;
        border-radius: 35px;
        font-size: 13px;
        width: 49%;
        min-width: 154px;
        @media (max-width: 300px){
            padding: .7em 1em;
            font-size: 12px;
            min-width: 127px;
        }
        @include bp('md'){
            font-size: 14px;
            padding: .8em 2.4em;
            min-width: 221px;
        }
    }
}