.more-info{
    max-width: 900px;
    margin: auto;
    .main-info{
        @include bp('md'){
            display: flex;
        }
    }
    .info-imgSocial{
        text-align: center;
        @include bp('md'){
            margin: 0 7%;
        }
        .info-img{
            width: 160px;
            height: 160px;
            margin: auto;
            img{
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
            &::after{
                border-radius: 50%;
                height: 100%;
            }
            @include bp('md'){
                // width: 63%;
                display: inline-block;
                &::after{
                    height: 100%;
                }
            }
        }
        .info-social{
            margin-top: .5em;
            img{
                width: 30px;
            }
            p{
                font-family: $m;
                font-size: 14px;
                margin-top: 0;
            }
            @include bp('md'){
                img{
                    width: auto;
                }
            }
        }
    }
    .info-text{
        margin-top: 2em;
        text-align: center;
        @include bp('md'){
            text-align: left;
            margin-top: 0;
            max-width: 650px;
        }
        .section-title{
            color: $blueG;
            margin: .4em 0;
            text-align: left;
            @include bp('md'){
                margin: 0 0 .4em;
            }
        }
        p{
            margin: .2em;
            font-family: $m;
            font-size: 14px;
            text-align: left;
            span:first-child{
                font-family: $gb;
            }
            @include bp('md'){
                font-size: 18px;
            }
        }
        .main-btn{
            font-size: 14px;
            margin-top: .7em;
            @include bp('md'){
                padding: 0.8em 3em;
                font-size: 15px;
            }
        }
    }
}
.giftMessage{
    max-width: 900px;
    margin: 2em auto;
    .section-title{
        font-size: 15px !important;
        @include bp('md'){
            font-size: 18px !important;
        }
    }
    .buttons-container{
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: 1em auto;
        .main-btn{
            margin-bottom: 1.4em;
            font-size: 14px;
        }
        @include bp('md'){
            flex-direction: row;
            width: auto;
            .main-btn{
                margin-right: 1.4em;
                font-size: 15px;
            }
        }
    }
    &-text{
        margin: .2em;
        font-family: $m;
        font-size: 14px;
        text-align: left;
        @include bp('md'){
            font-size: 16px;
        }
    }
}