.orange-block{
    background: rgb(255,128,58);
    background: -moz-linear-gradient(90deg, rgba(255,128,58,1) 0%, rgba(176,35,11,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,128,58,1) 0%, rgba(176,35,11,1) 100%);
    background: linear-gradient(90deg, rgba(255,128,58,1) 0%, rgba(176,35,11,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff803a",endColorstr="#b0230b",GradientType=1);
    padding: 1.4em;
    img{
        width: 56px;
    }
    @include bp('md'){
        padding: 4em;
        img{
            width: auto;
        }
    }
}
.bitacora-page{
    background: #f1f2f5;
}
.section-header{
    .nav-photo{
        display: flex;
        align-items: baseline;
        justify-content: center;
        a{
            position: relative;
            top: -25px;
            @include bp('md'){
                margin: 0 1em;
                top: -14px;
                img{
                    max-width: 70px;
                }
            }
        }
    }
    .orange-filter:after{
        @include bp('md'){
            border-radius: 50%;
            height: 99%;
        }
    }
    .section-title{
        text-align: center;
        color: $blueG;
        span{
            display: block;
        }
    }
    .quote{
        text-align: center;
        font-family: $m;
        font-size: 18px;
        max-width: 900px;
        margin: auto;
        .author{
            font-family: $gb;
            font-size: 20px;
            margin: .7em 0;
        }
        @include bp('md'){
            font-size: 28px;
            margin: 2em auto;
            .author{
                font-size: 28px;
            }
        }
    }
}
.bitacora-container{
    margin-top: -14%;
    @include bp('md'){
        margin-top: -10%;
    }
}
.custom-message{
    max-width: 900px;
    margin: 3em auto;
    font-size: 16px;
    font-family: $m;
    .section-title{
        text-align: center;
    }
    @include bp('md'){
        font-size: 18px;
    }
}
.section-participants{
    max-width: 900px;
    margin: 3em auto;
    font-size: 16px;
    font-family: $m;
    background: #fff;
    padding: 2em;
    border-radius: 21px;
    box-shadow: 4px 4px 7px rgba(#000, .3);
    .section-title{
        text-align: center;
        margin-bottom: 2em;
        @include bp('md'){
            margin: .5em auto;
        }
    }
    .participants{
        &-item{
            display: flex;
            align-items: center;
            margin-bottom: 2em;
            flex-direction: column;
            @include bp('md'){
                flex-direction: row;
                justify-content: space-between;
            }
            img{
                margin-right: .7em;
            }
            .participant-block{
                display: flex;
                align-items: center;
            }
            .main-btn{
                text-transform: inherit;
                font-family: $gbk;
                width: 100%;
                padding: .7em 0;
                margin-top: 1em;
                font-size: 14px;
                max-width: 350px;
            }
            .participant-info{
                font-family: $gbk;
                font-size: 18px;
                span{
                    font-size: 14px;
                }
                @include bp('md'){
                    font-size: 21px;
                    span{
                        font-size: 16px;
                    }
                }
            }
            p{
                margin: 0;
            }
        }
    }
}
.media-section{
    text-align: center;
    margin: 4em 0;
    .imgs-container{
        background: $black;
        padding: 7em 0;
        .slider-media{
            width: 77%;
            max-width: 700px;
            margin: auto;
            .slick-slide{
                img{
                    width: auto !important;
                    max-height: 600px;
                }
            }
        }
    }
}
.message-item{
   
    margin: 0 auto 1em;
    border-radius: 21px;
    text-align: left;
    font-family: $gbk;
    font-size: 15px;
    letter-spacing: .3px;
    line-height: 1.2;
    h3,p{
        margin: 0 0 .1em;
    }
    h3{
        font-weight: normal;
        font-size: 18px;
    }
    .info-message{
        margin-bottom: 1em;
    }
}