.login-container{
    max-width: 100vw;
    height: 100vh;
    background: url($images-path + 'bg/register-login-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 4em;
    .user-container{
        display: inline-block;
        position: relative;
        top: 2em;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        max-width: 435px;
        text-align: center;
        @include bp('md'){
            top: 4em;
        }
        img{
            max-width: 100%;
            margin-bottom: 3em;
        }
        .tabs-titles{
            font-family: $gb;
            color: #fff;
            display: flex;
            justify-content: space-evenly;
            font-size: 18px;
            text-transform: uppercase;
            margin-bottom: .7em;
            @include bp('md'){
                font-size: 24px;
            }
            .tab-title{
                cursor: pointer;
                &.active{
                    text-decoration: underline;
                }
            }
        }
        .tabs-content{
            background: rgba(#fff, .65);
            border-radius: 14px;
            padding: 2em;
            .tab-content{
                &:not(.active){
                    display: none;
                }
            }
        }
    }
    &.host{
        background: url($images-path + 'bg/bg-register2.jpg') no-repeat;
        background-size: cover;
        background-position: center;
    }
}